@font-face {
  font-family: "JosefinSans";
  src: url(fonts/JosefinSans-VariableFont_wght.ttf);
 }

body{
	margin: 0;
	font-family: Baskerville;
}

header{
	text-align: center;
	font-family: JosefinSans;
}

h2{
	font-family: JosefinSans;
}

div{
	text-align: center;
}

.listview{
	text-align: left;
}
